<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get a diss</title>
</head>
<body>
    <h1>Hi There!</h1>
        <form action="/diss_read">
          What's your name? <input type="text" name="person">
          <select name="diss" id="diss">
            <option value="like Saruman">like Saruman</option>
            <option value="like Radagast">like Radagast</option>
            <option value="like Sauron">like Sauron</option>
          </select>
          <input type="submit" value="Submit">
        </form>
</body>
</html>